@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#6C63FF;
}
body{
    font-family:'lato', sans-serif;
}
.container{
    width:90%;
    margin:0 auto;
    padding:10px;
}
header{
    display:flex;
    margin-top:10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:#000;
}
ul{
    list-style-type:none;
}
ul li{
    display:inline-block;
    padding:0 30px;
    font-size:22px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
.logo-design{
    background:gold;
    padding:30px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    display:inline-block;
}
.logo span{
    color:var(--primary-color);
    font-weight: 700;
    font-size:30px;
}
.btn{
    margin-left:50px;
    padding:12px 30px;
    font-size:17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 100px;
    border:2px solid var(--primary-color);
    color:#fff;
}
.btn a{
    color:var(--primary-color);
}

/* showcase section */

.main{
    display:flex;
    justify-content:space-between;
    background:url(../images/tic-tac-toe.png);
    background-position: center;
}
.text{
    padding-top:100px;
}
.text h1{
    font-size: 45px;
    padding:2px;
}
.text p{
    font-size:22px;
    letter-spacing: 1px;
    padding:5px;
    font-weight: 500;
    padding-top:20px;
}
.dc{
    padding:15px 40px;
    margin:20px 0;
    font-size: 20px;
    display:inline-block;
    border-radius: 100px;
    background:var(--primary-color);
    color:#fff;
}
.profile{
    background:var(--primary-color);
    margin:50px 0;
    max-width: 400px;
    height:240px;
    border-radius: 41% 59% 71% 29% / 45% 98% 2% 55% ;
    border-bottom: 2px solid var(--primary-color);
    
}
.profile img{
    position: relative;
    top:-170px;
    left:-35px;
}
.svg-image{
    margin-top:20px;
}